<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css" />
    </head>
    <body>
        <div class="main-content">
        {{>header}}
            <p class="about-texr">This site uses data from mapbox and weatherstack api's to display weather data to the user</p>
        <img src="/img/me.png" class="portrait" alt="" />
            <button class="btn-text">Explore</button>
        </div>
        
        {{>footer}}
    </body>
</html>